body{
	background-color: gray;
	padding: 0px;
}

#menu {
	border-bottom:10px solid #000;
	position:fixed;
	top: 420px;
  	left: 0;
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-color: #565656;
}
#sklep {
	border-right:10px solid #000;
	border-left:10px solid #000;
	position:fixed;
	top: 0;
	width: 90%;
	height: 100%;
	overflow: scroll;
	background-color: #7d7d7da7;
}
#budowa {
	border-bottom:10px solid #000;
	position:fixed;
	top: 420px;
  	left: 0;
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-color: #565656;
}
#zoom{
	border:10px solid #000;
	position:fixed;
	top: 350px;
  	left: 0;
	width: 100px;
	height: 50px;
	overflow: hidden;
	background-color: #565656;
}

table{
    width: 100%;
    height: 100%;
}
#pierwszyrzad{
    height: 20px;
    background-color: #565656;
}
#drugirzad{
    height: 20px;
    background-color: #565656;
    vertical-align: top;
}

#pierwszaKolumna{
	width: 50%;
}