body{
	background-color: black;
	padding: 0px;
}

#kasa {
	font-size: 10vw;
	z-index: 740000;
	border: 10px solid black;
	position:fixed;
	top: 0;
  	left: 0;
	width: 95%;
	overflow: hidden;
	background-color: black;
}
#coins{
	border-right: 10px solid black;
	float: left;
	width: 40%;
	background-color: yellow;
}
#diamonds{
	float: left;
	width: 40%;
	background-color: aqua;
}
#opcje{
	float: right;
	padding: 0;
	margin: 0;
	max-width: 11%;
}


